<launch>
  <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster_map_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0 map odom 10"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" value="50.0"/>
  </node>
</launch>
